.GameplayWrapper {
  padding: 20px;
  background-color: #fff;
  margin: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.Title > span {
  font-weight: 700;
  display: inline-block;
  /* margin-bottom: 5px; */
}

.GameFieldWrapper {
  display: flex;
  border-left: 1px solid rgb(0, 0, 0, 0.3);
  border-top: 1px solid rgb(0, 0, 0, 0.3);
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.GamePlayActions {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

