.NewPlayerWrapper {
  background-color: #ccc;
  display: flex;
  align-items: center;
  height: 38px;
  padding: 10px;
  margin: 10px 0px;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
}

.NewPlayerWrapper > span {
  margin-left: 20px;
}